/**
 * Scan panel
 */

#siteimprove-scan-panel-button {
    position: fixed;
    border: none;
    width: 70px;
    height: 70px;
    background-image: url("./img/FAB.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    z-index: 4325235230;
    display: none;
}

#siteimprove-scan-panel {
    position: fixed;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    background: white;
    border: 1px solid #ddd;
    z-index: 4325235231;
    width: 265px;
    font-size: 14px;
    font-family: "Manrope", "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
}

#siteimprove-scan-panel-button.top-right, #siteimprove-scan-panel.top-right {
    top: 100px;
    right: 10px;
}

#siteimprove-scan-panel-button.top-left, #siteimprove-scan-panel.top-left {
    top: 100px;
    left: 10px;
}

#siteimprove-scan-panel-button.bottom-right, #siteimprove-scan-panel.bottom-right {
    bottom: 100px;
    right: 10px;
}

#siteimprove-scan-panel-button.bottom-left, #siteimprove-scan-panel.bottom-left {
    bottom: 100px;
    left: 10px;
}

#siteimprove-scan-panel .scan-panel-header {
    background: #0D4CD3;
    color: white;
    font-size: 14px;
    padding: 9px 0 9px 16px;
    line-height: 32px;
    font-weight: bold;
    flex-shrink: 0;
}

#siteimprove-scan-panel .scan-panel-header a {
    text-decoration: none;
}

#siteimprove-scan-panel .scan-panel-body {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 10px;
}

#siteimprove-scan-hide {
    width: 40px;
    height: 32px;
    margin: 0;
    background-image: url("./img/hide.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
    border: none;
    cursor: pointer;
}

/**
 * "Scan page" button
 */

.siteimprove-scan-button-container {
    margin-bottom: 20px;
    font-size: 12px;
}

.siteimprove-scan-button {
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin: 10px 0;
    padding: 0;
    background: none;
    border: 1px solid #767676;
    cursor: pointer;
    text-align: center;
    display: block;
}

.siteimprove-scan-button span:before {
    content: "";
    position: relative;
    top: 4px;
    margin: 0 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./img/update.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/**
 * Dashboard
 */

#wpcontent:has(#siteimprove-dashboard-header) {
    padding: 0;
}

#siteimprove-dashboard-header {
    background: #0D4CD3;
    color: white;
    padding: 10px 22px;
    font-size: 16px;
    font-family: "Manrope", "Arial", "sans-serif";
}

.siteimprove-dashboard-container {
    padding-left: 20px;
    margin-bottom: 40px;
}

.siteimprove-dashboard-heading {
    margin-bottom: 10px;
}

.siteimprove-component-container {
    background-color: #FFF;
    box-shadow: #E0E0E0 2px 2px 4px;
}

.siteimprove-component-placeholder {
    line-height: 150px;
    text-align: center;
}

/**
 * Settings form
 */

#siteimprove-settings-form {
    background-color: #F6F6F6;
    box-shadow: #E0E0E0 2px 2px 4px;
}

#siteimprove-settings-form h2 {
    background-color: #FFF;
    padding-left: 20px;
    line-height: 48px;
    margin-top: 0;
}

#siteimprove-settings-form tr {
    display: block;
    background-color: #FFF;
    margin: 2px 20px;
    padding-left: 20px;
}

#siteimprove-settings-form .submit {
    margin-left: 20px;
}
