#wp-admin-bar-stim-alfa-check-accessibility .ab-icon:before {
    content: "";
    top: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./img/si-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
}